body {
    background-color: rgb(4, 11, 23);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

header {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.center {
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 20px 0 20px;
}

#playroundShow {
    text-align: center;
}

p {
    font-size: 18px;
    color: aliceblue;
}

.playerShow{
    overflow: hidden;
    float: left;
    left: 15px;   
    position: absolute;
    text-align: center;
    justify-content: center;
    margin: 1px;
}

.computerShow{
    overflow: hidden;
    float: right;
    right: 15px;   
    position: absolute;
    text-align: center;
    justify-content: center;
    margin: 1px;
}

.computerPoints,
.playerPoints {
    font-size: 30px;
}

.weapon{
    padding-top: 100px;
    margin: 10px;
}